# Files for git to ignore.
#
# Ignore temporary files.
*.swp
*.swo

# Ignore renv.
renv/library
renv/stagging

# Ignore sensitive files.
.zwsid
.torpass

# Ignore my Rprofile.
.Rprofile

# Ignore downloads and extensions.
extensions/

# Compiled python files.
*.pyc

# Log files.
*.log

# Ingore pycache
__pycache__/

# Data is too big.
durham/data/

# Achived files
ARCHIVE/
